{% extends 'base_site.html' %}
{% load thumbnail %}

{% block head_title %}Photo{% endblock %}

{% block body %}
    <div style="margin-left: auto; margin-right: auto; display: block; max-width: 960px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for photo in photo_list %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for photo in photo_list %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <img src="{% thumbnail photo.photo 960x478 crop=scale %}" alt="{{ photo.title }}">
            </div>
            {% endfor %}
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div><!-- /.carousel -->
{% endblock %}
