@import "bower_components/bootstrap/less/bootstrap.less";

body {
  min-height: 2000px;
  padding-top: 70px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

#myCarousel img {
    max-width: 100%; height: auto;
}
