@import "bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "/public/static/bower_components/bootstrap/dist/fonts/";

body {
  padding-top: 70px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

#myCarousel .carouser-inner,
#myCarousel .carouser-inner .item
{
    text-align: center;
}

#myCarousel img {
    max-width: 100%; height: auto;
}

@font-face {
    font-family: arabesque;
    src: url("/public/static/arabesque.woff") format('woff');
}

h1, h2, h3, h4, .navbar
{
    font-family: arabesque;
}

